/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
// font-family: 'Fredoka One', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Pacifico', cursive;
