.form{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    height: 400px;
}
.title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.title::before{
    content: " ";
    border-bottom: 3px solid #553AA0;
    padding: 25px 100px;
    position: absolute;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 5px;
    input{
        padding: 5px;
        font-size: 12px;
    }
    .button{
        width: 50%;
        margin-left: 25%;
    }
    textarea{
        resize: none;
        overflow-y: scroll;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    a{
        margin-top: 22px;
    }
}
.multi-select{
    width: calc(100% - 24px);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}