<div class="form">
  <form [formGroup]="phoneForm">
    <div class="title">{{ formType }} phone form</div>
    <div class="form-input">
      <input
        type="text"
        placeholder="Phone name"
        formControlName="name"
        class="input"
      />
      <input
        type="text"
        placeholder="Brand name"
        formControlName="brand"
        class="input"
      />
      <input
        type="text"
        placeholder="Country"
        formControlName="country"
        class="input"
      />
      <ng-multiselect-dropdown
        [placeholder]="'Select colors'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        formControlName="colors"
        class="multi-select"
      >
      </ng-multiselect-dropdown>
      <textarea
        placeholder="Description"
        formControlName="description"
        class="textarea"
        rows="8"
        cols="50"
      ></textarea>
      <a [routerLink]="['', { outlets: { form: null } } ]" [state]="{closeButton: true}">
        <input
          type="submit"
          value="Save"
          class="button"
          (click)="savePhone()"
        />
      </a>
    </div>
  
  </form>
</div>
