<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 (click)="clickEvent()">Hello Angular</h1>
  {{data.inputText}} <br>
  <input type="text" (keyup)="keyUp(input1.value)" [value]="data.inputText" #input1/>

  <app-component1 *ngFor="let course of courses;index as i; first as isFirst"
  [class.isFirst]="isFirst"
  (courseSelect)="onCourseSelected($event)" [course]="course" [cardNumber]="i+1"></app-component1>

</body>
</html>
<style>
  *{
    padding: 0px;
    margin: 0px;
  }
</style>