h1{
    margin: 70px 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h1::before{
    content: " ";
    border-bottom: 3px solid #553AA0;
    padding: 25px 100px;
    position: absolute;
}
.smallInfoText{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
