.category{
    background-color: lightgrey;
    padding: 100px;
    text-align: center;
    opacity: 0.5;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.category:hover{
    opacity: 1;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
    text-shadow: 0px 0px 15px black;
}
img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.white-text{
    color: white;
}
.white-text:hover{
    text-shadow: 0px 0px 15px white;
}
a{
    text-decoration: none;
    color: black;
}
.editButton{
    width: 100px;
    height: 100%;
    padding: 0px 20px;
    font-size: 20px;
    background-color: transparent;
    color: #553AA0;
    outline: #553AA0 2px solid;
    outline-offset: -2px;
    border: 0px;
    transition: 0.2s;
}
.editButton:hover{
    color: white;
    background-color: #553AA0;
}
.deleteButton{
    width: 100px;
    height: 100%;
    padding: 0px 20px;
    font-size: 20px;
    background-color: transparent;
    color: #a03a3a;
    outline: #a03a3a 2px solid;
    outline-offset: -2px;
    border: 0px;
    transition: 0.2s;
}
.deleteButton:hover{
    color: white;
    background-color: #a03a3a;
}
.closeButton{
    width: 100px;
    height: 100%;
    padding: 0px 20px;
    font-size: 20px;
    color: white;
    background-color: #553AA0;
    border: 0px;
    transition: 0.2s;
}
.closeButton:hover{
    background-color: transparent;
    color: #553AA0;
    outline-offset: -2px;
    outline: #553AA0 2px solid;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}