
    <a [routerLink]="['/phone', category.id, category.title]">
        <!-- [queryParams]="{'name' : category.title}" -->
        <div class="category" [ngStyle]="getStyle()">
            <!-- [ngClass]="getClass()" ^^^-->
            <div class="title">
                {{category.title}}
            </div>
                <div class="category-bg">
            </div>
        </div>
    </a>


