*{
    font-family: 'Montserrat', sans-serif;
}
.img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 40px;
    object-fit: fill;
    background-color: red;
    background-size: cover;
}
.product{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.501);
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
    border-radius: 30px;

    .img{
        margin-left: 25px;
    }
}
ol{
    li{
        list-style-type: none;
        text-align: left;
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 70%;
        margin-left: 15%;
    }
    .description{
        display: flex;
        flex-direction: column !important;
        height: 150px;
        overflow-y: scroll;
    }
}
h4{
    font-weight: 600;
}
.edit-button{
    width: 100%;
    color: white;
    background-color: #553AA0;
    border: 1px #553AA0 solid;
}
.edit-button:hover{
    color: #553AA0;
    background-color: transparent;
}
.delete-button{
    color: white;
    background-color: #ff6060;
    border: 1px #ff6060 solid;
}
.delete-button:hover{
    color: #ff6060;
    background-color: transparent;
}