<div class="product">
    <a [routerLink]="['', { outlets: { form: ['form', 'Edit', phone.id] } } ]" (click)="switchAddButtonStatus()">
        <button class="edit-button">Edit</button>
    </a>

    <button class="delete-button" (click)="deletePhone()">Delete</button>
    <div class="img" [ngStyle]="getBackgroundImg()"> </div>
    <ol class="info-list">
        <li><h3>{{phone.name}}</h3></li>
        <li><h4>Brand:</h4> {{phone.brand}}</li>
        <li><h4>Country:</h4> {{phone.country}}</li>
        <li>
            <h4>Colors:</h4>
            <select>
                <option *ngFor="let phoneColor of phone.colors">{{phoneColor}}</option>
            </select>
        </li>
        <li><h4>Description:</h4></li>
        <li class="description"> {{phone.description}}</li>
    </ol>
</div>