h1{
    font-weight: 600;
}
.title{
    display: flex;
}
.title::before{
    content: " ";
    border-bottom: 3px solid #553AA0;
    padding: 25px 100px;
    position: absolute;
}
.arrow{
    padding: 10px;
    background-color: #553AA0;
    color: white;
    border-radius: 50%;
    margin-left: 60px;
}
.arrow:hover{
    color: #553AA0;
    background-color: transparent;
    outline: 2px solid #553AA0;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    place-items: center;
    row-gap: 40px;
}
.products-header{
    display: flex;
    flex-direction: column;
    margin: 70px 100px;
    font-family: 'Montserrat', sans-serif;
}
.category-name{
    margin-top: 15px;
}

.add-phone-button{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 70px;
    margin-bottom: 50px;
    padding: 10px 15.763px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #553AA0;
    color: white;
    transition: 0.5s ease-in-out;
    border: 0px;
    z-index: 10;
    width: auto;
}
.add-phone-button:hover{
    .add-phone-button-text:last-child{
        color: white;
    }
    .add-phone-button-shown-text{
        width: 110px;
    }
}
.add-phone-button-text:last-child{
    font-size: 20px;
    margin-left: 10px;
    transition: 0.5s;
    width: 100px;
    height: fit-content;
    color: transparent;
}
.add-phone-button-shown-text{
    width: 0px;
    height: 0px;
    transition: 0.5s;
}
.add-phone-button-content{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.rotate-45{
    transform: rotate(45deg);
}
