<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<!-- link to "arrow back" icon ^^^  -->
<div class="products-header">
    <div class="title">
        <h1>Products</h1>
        <a [routerLink]="['/category']">
            <span class="material-symbols-outlined arrow">
            arrow_back
            </span>
        </a>
    </div>
    <div class="category-name">
        {{categoryName}}
    </div>
</div>

<div class="products">
    <ng-container *ngFor="let phone of phones" class="product">
        <app-phone-list-item  
            *ngIf="phone.categoryId==categoryId" 
            [phone]="phone"
            (switchAddButtonStatusEmitter)="showForm(); switchRoute()"
            >
        </app-phone-list-item>
    </ng-container>
</div>

<a [routerLink]="['', { outlets: { form: formRouterValues } } ]">
<button class="add-phone-button" (click)="showForm(); switchRoute()">
    <ng-container *ngIf="!formStatus; else close">
            <div class="add-phone-button-content" style="color: white;">
                <div class="add-phone-button-text">+</div>
    
                <div class="add-phone-button-shown-text">
                    <div class="add-phone-button-text">Add phone</div>
                </div>
            </div>
    </ng-container>
    <ng-template #close>
        <div class="add-phone-button-content">
                <div class="add-phone-button-text rotate-45" style="color: white;">+</div>
    
            <div class="add-phone-button-shown-text">
                <div class="add-phone-button-text">Close form</div>
            </div>
        </div>
    </ng-template>
</button>
</a>