<div class="card">
    <div class="course-header">
        <div class="text">{{cardNumber + ' ' + course.text}}</div>
        <button (click)="viewCourse()">View course</button>
    </div>

    <ng-container *ngIf="course.description; else noDescription">
        <div class="description">
            <h4>Description</h4>    
            {{course.description}}
        </div>
    </ng-container>

    <ng-template #noDescription>
        <div class="description">
            No description
        </div>
    </ng-template>
</div>