.card{
    background-color: rgb(231, 185, 185);
    padding: 10px;
    margin-top: 30px;
    width: calc(100% - 20px);
}
.course-header{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-top: 10px;
    background-color: rgb(232, 152, 152);
    padding: 10px;
    h4{
        margin-bottom: 5px;
    }
}
.border{
    border-radius: 10px;
}
.isFirst{
    border-radius: 10px 10px 0px 0px;
}
.isLast{
    border-radius: 0px 0px 10px 10px;
}