header{
    padding: 20px;
    background: #553AA0;
    .header-content{
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin-left: 5%;
        .logo{
            font-size: 60px;
            font-family: 'Pacifico', cursive;
            color: white;
        }
        nav{
            display: flex;
            align-items: center;
            a{
                margin-right: 15px;
                margin-left: 15px;
                :last-child{
                    margin-right: 0px;
                }
                font-size: 25px;
                color: white;
                text-decoration: none;
                font-family: 'Fredoka One', cursive;
                transition: 0.2s;
            }
            a:hover{
                padding: 15px;
                background-color: white;
                color: #553AA0;
                border-radius: 10px;
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }
}