<header>
    <div class="header-content">
        <div class="logo">
            Phones
        </div>
        <nav>
            <a [routerLink]="['']">Main</a>
            <a [routerLink]="['/category']">Category</a>
        </nav>
    </div>
</header>
